<header>Cabeçalho</header>
<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/list">List</a>
  <a routerLink="/parentdata">Parent Data</a>
  <a routerLink="/ifrender">If-render</a>
  <a routerLink="/events">Events</a>
  <a routerLink="/emitter">Emitter</a>
  <a routerLink="/listrender">List-render</a>
  <a routerLink="/twowaydata">Data-Binding</a>
  <a routerLink="/service">Sevice</a>
</nav>
<router-outlet></router-outlet>
<footer>Rodapé</footer>


<h1>Hello World Angular</h1>
<p>Parágrafo global</p>
<button (click)="handleClick()">Clique em mim!</button>


<app-first-component></app-first-component>

<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>

<app-directives></app-directives>

<app-if-render></app-if-render>

<app-eventos></app-eventos>

<app-emitter></app-emitter>

<app-list-render></app-list-render>

<app-list-render-with-interface></app-list-render-with-interface>

<app-pipes></app-pipes>

<app-two-way-binding></app-two-way-binding>

<app-list-render-with-service></app-list-render-with-service>
