<table class="content-table">
  <thead>
    <tr *ngFor="let nome of nomeDasContas">
      <th>{{nome.data}}</th>
      <th>{{nome.rico}}</th>
      <th>{{nome.modal}}</th>
      <th>{{nome.clear}}</th>
      <th>{{nome.sicredi}}</th>
      <th>{{nome.santander}}</th>
      <th>{{nome.bradesco}}</th>
      <th>{{nome.nubank}}</th>
      <th class="teste">Somar</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conta of contas">
      <td>{{conta.data}}</td>
      <td>{{conta.rico}}</td>
      <td>{{conta.modal}}</td>
      <td>{{conta.clear}}</td>
      <td>{{conta.sicredi}}</td>
      <td>{{conta.santander}}</td>
      <td>{{conta.bradesco}}</td>
      <td>{{conta.nubank}}</td>
      <td><button class="teste" (click)="totalSomar(conta)">+</button></td>
      <td><button (click)="removeInvestment(conta)">excluir</button></td>
    </tr>
  </tbody>
</table>
<br><br>
<p *ngIf="diaAnalisado">O total no dia <b>{{diaAnalisado}}</b> foi <b>R$ {{total}}.</b></p>



