<form>
  <div class="row">
    <div class="col">
      Data:
      <input type="text" class="form-control" [(ngModel)]="data" placeholder="00/00/0000" name="name">
    </div>
  </div>
  <div class="row">
    <div class="col">
      Rico:
      <input type="text" class="form-control" [(ngModel)]="rico" placeholder="R$" name="name">
    </div>
    <div class="col">
      Modal:
      <input type="text" class="form-control" [(ngModel)]="modal" placeholder="R$" name="name">
    </div>
  </div>
  <div class="row">
    <div class="col">
      Clear:
      <input type="text" class="form-control" [(ngModel)]="clear" placeholder="R$" name="name">
    </div>
    <div class="col">
      Santander:
      <input type="text" class="form-control" [(ngModel)]="santander" placeholder="R$" name="name">
    </div>
  </div>
  <div class="row">
    <div class="col">
      Bradesco:
      <input type="text" class="form-control" [(ngModel)]="bradesco" placeholder="R$" name="name">
    </div>
    <div class="col">
      Nubank:
      <input type="text" class="form-control" [(ngModel)]="nubank" placeholder="R$" name="name">
    </div>
  </div>


  <input type="submit" value="Enviar">
</form>
